body {
    width: 75%;
    padding: 5px;
    margin: auto auto 5%;
}

.title {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.requiredFields {
    color: red;
    font-weight: bold;
}

.heading {
    font-size: 115%;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    color: darkgreen;
}
#errors{
    color: red;
}

/* image styling */
.logo {
    height: 75%;
    align: center;
}